# --- INFRASTRUTURA: DATABASE (PostgreSQL + pgvector) ---
POSTGRES_USER=petroscan_admin
POSTGRES_PASSWORD=petroscan_secure_pwd
POSTGRES_DB=petroscan_db
POSTGRES_PORT=5432
HUGGINGFACE_API_KEY=

# --- INFRASTRUTURA: MESSAGING (Redis) ---
REDIS_HOST=localhost
REDIS_PORT=6379

# --- INFRASTRUTURA: STORAGE (MinIO / S3) ---
MINIO_ROOT_USER=petroscan_root
MINIO_ROOT_PASSWORD=petroscan_secret_key
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001
MINIO_PORT=9000
MINIO_UI_PORT=9001
AWS_ACCESS_KEY_ID=petroscan_root
AWS_SECRET_ACCESS_KEY=petroscan_secret_key
AWS_ENDPOINT_URL=http://localhost:9000
AWS_DEFAULT_REGION=us-east-1

# --- MLOPS: MLFLOW ---
MLFLOW_PORT=5000
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
MLFLOW_TRACKING_URI=http://localhost:5000
# MLFLOW_ARTIFACT_ROOT=s3://mlflow-artifacts/
